<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Connection" connectionString="Server= studentpsql.miun.se;Port=5432;Database=pgmvaru_11;User Id=pgmvaru_11;Password=cirkus20;SslMode=Require;" providerName="npgsql" />
  </connectionStrings>
</configuration>